{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia | Create New Page
{% endblock %}

{% block body %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" type="text" placeholder="Enter a name for your page..." required>
        </div>
        <div class="form-group">
            <label for="content">Description</label>
            <textarea class="form-control" name="content" placeholder="Provide a description..." rows="3" required></textarea>
            
        </div>
        <button type="submit">Save</button>
    </form>

{% endblock %}